body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.smaller-container {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

select,
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px;
}

button:disabled {
    background-color: #cccccc;
    /* Gray background */
    cursor: not-allowed;
    /* Display a "no action" cursor */
    opacity: 0.6;
    /* Make the button slightly transparent */
}


button:hover {
    background-color: #0056b3;
}

.character-buttons {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.conversation-control {
    margin-top: 20px;
    text-align: center;
}

.character-image-container {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
}


.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
    /* Initially hidden */
    position: fixed;
    /* Fixed position */
    top: 50%;
    /* Center the loader vertically */
    left: 50%;
    /* Center the loader horizontally */
    transform: translate(-50%, -50%);
    /* Perfect centering */
    z-index: 9999;
    /* Ensure the loader is on top */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dimmed-background {
    display: none;
    /* Initially hidden */
    position: fixed;
    /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black with 50% opacity */
    z-index: 9998;
    /* Ensure it's below the loader but above other content */
}

.server-status-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}
