<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meet Your Characters</title>
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" defer></script>

  <script src="{{ url_for('static', filename='common.js') }}" defer></script>
  <script src="{{ url_for('static', filename='animations.js') }}" defer></script>
  <script src="{{ url_for('static', filename='character-component.js') }}" defer></script>
  <script src="{{ url_for('static', filename='character-edit.js') }}" defer></script>
</head>

<body>
  <div class="container">
    <div class="loader" id="loader"></div>
    <div class="dimmed-background" id="dimmedBackground"></div>

    <div class="conversation-control">
      <button id="startConversationButton" class="start-conversation-button" onclick="startConversation()">
        Start Conversation
      </button>
      <button id="stopConversationButton" onclick="stopConversation()" disabled>Stop Conversation</button>
    </div>

    <form id="configForm" action="/update-character" method="post"
      onsubmit="handleUpdateCharacterSubmit(event, 'Configuration updated successfully!')">
      <!-- Character Selection and Update Section -->
      <div class="character-selection">
        <div class="character-image-container">
          <character-component id="mainCharacterComponent" label="Character"></character-component>
        </div>
      </div>

      <label for="voice_id">Voice ID:</label>
      <input type="text" id="voice_id" name="voice_id" />

      <label for="prompt">Prompt:</label>
      <textarea id="prompt" name="prompt" rows="5"></textarea>

      <button type="submit" id="configSubmit" disabled>
        Save Configuration
      </button>
    </form>


    <div class="character-buttons-container">
      <div class="character-buttons">
        <button type="button" id="setDefaultCharacterBtn" onclick="setDefaultCharacter()">
          Set as Default
        </button>
        <button type="button" id="regenerateImageBtn" onclick="regenerateCharacterImage()">
          Regenerate Image
        </button>
        <button type="button" id="deleteCharacterBtn" onclick="confirmDeleteCharacter()">
          Delete
        </button>
      </div>
    </div>

    <div class="server-status-container">
      <div>Server:</div>
      <div id="serverStatus"></div>
    </div>

    <hr />

    <h2>Add New Character</h2>
    <form id="characterForm" action="/add-character" method="post"
      onsubmit="handleSubmit(event, 'New character added successfully!')">
      <label for="new_character_id">Character ID (e.g., cat-cartman):</label>
      <input type="text" id="new_character_id" name="new_character_id" />

      <label for="new_voice_id">Voice ID:</label>
      <input type="text" id="new_voice_id" name="new_voice_id" />

      <label for="new_prompt">Prompt:</label>
      <textarea id="new_prompt" name="new_prompt" rows="5"></textarea>

      <button type="submit" disabled>Add New Character</button>
    </form>
  </div>
</body>

</html>
